#container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: beige;
    border: solid medium navy;
}

#container > h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkgreen;
}